# API Framework
fastapi
uvicorn
pydantic
python-multipart
langchain
langchain-openai
langchain_community
# # LangChain and OpenAI
# langchain
# langchain-openai
# langchain-community
# openai

# Vector Database
chromadb

# # PDF Processing
pypdf
pydantic_settings

# # Testing
# pytest
# httpx